input[type="text"] {
	height: 50px;
	width: 700px;
}

input[type="text"]:hover {
	color: #9024245e;
	border-color: #072404b4;
}

.tab button:hover {
	background-color: #0f3b0bd0;
	color: #FFFFFF;
}

.tab button.active {
	background-color: #ccc;
}